/* front page gallery / one line gallery */
.front-page-gallery { padding: 0; margin: 0 auto; height: 64px; width: 660px; overflow: hidden; position: relative; }
.front-page-gallery .items { padding: 0; margin: 0; width: 20000em; position: absolute; }
.front-page-gallery .items > div {
  display: block;
  list-style-type: none;
  list-style-image: none;
  margin: 0 5px;
  float: left;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 62px;
}
.scrollable-container {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 1em;
}
.scrollable-container a.prev, .scrollable-container a.next, .scrollable-container a.prevPage, .scrollable-container a.nextPage {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../images/arrow/apple-left.png") no-repeat;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 55px;
  z-index: 10;
}
.scrollable-container a.prev:hover, .scrollable-container a.next:hover {
  background-position: 0px -27px;
}
.scrollable-container a.disabled {
  visibility: hidden !important;
}
.scrollable-container a.next, .scrollable-container a.nextPage {
  background-image: url("../images/arrow/apple-right.png");
  right: 55px;
  left: auto;
  clear: right;
}
/* navigator */
.scrollable-container .navi { width: 42px; margin: 0 auto; height: 20px; }
.scrollable-container .navi a {
  width: 8px; height: 8px; float: left; margin: 0 3px;
  background: url("../images/arrow/navigator.png") 0 0 no-repeat;
  cursor: pointer;
}
.scrollable-container .navi a:hover { background-position: 0 -8px; }
.scrollable-container .navi a.active { background-position: 0 -16px; }

#zoom tbody { border: 0; }
#zoom { z-index: 999; }
