body {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 20px;
}

/* Shawn and Dave changed from padding: 0.5 0 0.5 0 --> padding: 0 0.5 0 0.5 */
/* vertical-align: middle --> vertical-align: top */
/* This moves the 'inside banner menu' to the top right corner of the banner */

#menu {
  padding: 0 0.5em 0 0.5em;
  text-align: right;
  vertical-align: top;
}

body {
  background-color: white;/*dave did this too #eff2e3;*/
  }

tr.even {
    background: #e9ecd9;
    }

tr.odd{}

a:link,
a:visited,
a:hover,
.title, .title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #43590E;
  border-bottom:0px;
  border-bottom-color:transparent;
}


#header a {
		color: #43590E;
	/*	color: black; */
		}

#header navlist a {
		color: #43590E; 
	/*	color: black;*/
		}

#sidebar-left, #sidebar-right {
		  background-color: transparent;
		  /* margin-left:100px; */
		  }
#sidebar-left .block, #sidebar-right .block {
	/*background-color: #e9ecd9;*/
	border-top: 0px;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	border-left: 0px;
}

#mission,
		  div.admin-panel h3 {
		    background-color: #43590E;
		    }
img {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
#footer-message img{padding:0px margin:0px;}
.view img {margin-left:0px;}

/*
Remmed out to allow h1.title on sub-theme style sheets
h1.title
{
  font-size: 24px;
  font-weight: none;
  background-color: #e9ecd9;
  margin-left: 25px;
  padding-left: 15px;
}
*/

/* Remmed out to allow h2.title style on individual sub-theme style sheets*/
/*h2.title {
  font-size: 13pt;
  font-weight: normal;
  color: black;
}*/

/*
.panel-pane {
  clear: both;
  padding-left: 0px;
}
.panel-pane p {
  padding-left:10px;
}
*/

.content a{
  text-decoration: underline;
}

li{
  list-style-type: square;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
  }

  /* added February 27 2008 S.A.*/
  .smallgreyitalic{color:#666666;font-size:10px;font-style:italic;}
  
  /* added March 5th 2008 to make the Title bar not flush against the right side bar
  h1.title{width:96%;}*/
  /* #main{padding-right:10px;} */
  
  #content table{width:98%;}
  /*div.content{padding-right:10px;}*/
  .panel-col-first div.content{padding-right:0px;}

/* added by shawn for table Theming Feb 14th 2008*/
#tb{padding:4px;background-color:#d3d8b9;font-weight:bold;font-size:14px;border:1px solid #999999;}
#tbc{background-color:#e8e8e8;font-weight:bold;text-align:center;}
.outline{border:1px #d9d9d9 solid;padding:5px 5px 5px 5px;margin-bottom:5px;}
#infobox{border:1px #cccccc solid;background-color:#eff2e3;width:100%;margin:0px 0px 14px 0px;padding:0px -14px 0px 7px;}

tbody {
  border-top: 0px solid #fff;
}
/* Styles added to make the grouped section on the reseracher,faculty,staff etc pages float right*/
.fieldgroup.group-faculty-member-informati .content, .fieldgroup.group-player-information .content,
.fieldgroup.group-staff-member-informati .content,  .fieldgroup.group-staff-information .content
{
float: right;
position: relative;
padding-top: 13px;
padding-right: 3px;
padding-bottom: 8px;
padding-left: 18px;
border-width: 1px;
border-style: solid;
border-color: #e9ecdd;
background-color: #eef2e3;
width: 210px;
padding-left: 1em;
margin-left:20px;
margin-bottom:20px;
}

.view {padding-right:0px;}
h1.title{font-size:18px;margin-bottom:5px;}

/* Styles added to allow sub banners to appear in user2 area of newsflash*/
#section1 td.section{padding:0px;background-color:#ffffff;}
#section1 img{margin:0px;padding:0px;border:none;}
#section1{border:none;}

/* Style for the course schedule feel for the top menu*/
#coursefeedtitle{padding:20px 0px 20px 0px;font-size:14px;font-weight:bold;width:98%;text-align:center;border:0px solid #999999;}
#coursefeedtitle a{text-decoration:underline;padding:20px 12px 20px 12px;}

/* Style for the new UPEI Administration Navigation Block */
#block-upei-4 .content{padding-left:5px;}

/* Style for the Content Manager Messaging System*/
.cmms{border:2px solid #333333;padding:10px;background-color:#43590E;color:#ffffff;}

/* Style for the Emergency Messaging System*/
#emms{margin:auto;width:95%;border:2px solid #6C1C00;padding:10px;color:#ffffff;}
.emms{background-color:grey;}
.emms1{background-color:red;}/*Level 1 Red*/
.emms2{background-color:orange;}/*Level 2 Orange*/
.emms3{background-color:black;}/*Level 3 Black*/


#main .node h2.title{font-size:14px;}


/* Added here March 10th. Special Styles created by Ryan and Deb to allow more variety in text - S.A.*/
.specialclass1 {
font-weight: bold;
font-size: 120%;
color: #761f06;
}

.specialclass2 {
font-weight: bold;
font-size: 140%;
color: #761f06;
}

.specialclass3 {
background-color: #761f06;
padding: 3px;
font-weight: bold;
font-size: 120%;
color: #ffffff;
}

.specialclass4 {
font-weight: bold;
font-size: 120%;
color: #2c4a00;
}

.specialclass5 {
font-weight: bold;
font-size: 140%;
color: #2c4a00;
}

.specialclass6 {
background-color: #e3e9ce;
padding: 3px;
font-weight: bold;
font-size: 120%;
color: #000000;
}
ul.images li{
        list-style-type: none;
	list-style-image: none;
	border:1px #cccccc solid;
	padding:0px 20px 0px 20px;
	text-align:center;
	margin:0px;
	margin-bottom:0px;
	background-color:#eff2e3;
	width:100px;
	height:100px;
}
ul.images li {padding:0pxmargin:0px;}
.content ol li{
list-style-image:none;
list-style-type:decimal;
}

/* This overrides the button images inside the editor to take away the spacing */
.mceEditor img{margin:0px;}
tr.odd{background-color:#efefef;}
tr.even{background-color:#ffffff;}

/*tr.even, tr.odd{border-bottom: 2px solid #ffffff;}*/
tr.even td, tr.odd td{border: 2px solid #ffffff;}
tr.even a, tr.odd a{color:#6C1C00}

#sidebar-left h2.title, #sidebar-right h2.title {
background-image: none;
border: 0px;
}

#sidebar-left li a {
text-decoration: none;
color: black ;
font-size: 88%;
font-family: verdana; 
font-weight: normal;
}

#sidebar-left div.content > ul > li {
border-bottom: 1px dotted #ccc;
}

#sidebar-left div.content > ul li.active-trail > a {
color: #5C8727;
}

#sidebar-left li li a {
color: #8C8727;
}


h1.title {
background-color: white;
color: #333;
font-size: 18px;
padding: 10px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}


/**********************************/
/* New styles for layout things   */
/* Shawn Arsenault - Dec 2008     */
/**********************************/
#primarymenu{padding-top:0px;}

.view-faculty .views-field-title, .view-Faculty .views-field-title , .view-staff .views-field-title 
{border-bottom:1px solid #cccccc;padding-bottom:10px;}
.view-faculty .views-field-title a, .view-Faculty .views-field-title a, .view-staff .views-field-title a
{margin-bottom:0px;padding:3px;font-size:16px;border-bottom:0px solid #aaa;font-weight:bold;text-decoration:underline;}
.view-faculty .imagefield-field_faculty_photo{margin-top:3px;}


.view-faculty .views-field-teaser, .view-Faculty .views-field-teaser, .view-staff .views-field-teaser
{}


.view-faculty .views-field-field-faculty-photo-fid, .view-Faculty .views-field-field-faculty-photo-fid, .view-staff .views-field-field-faculty-photo-fid{
	width:155px;float:right;margin-left:10px;
}

.view table { width: 100%; }

.view-faculty .views-row-odd, .view-faculty .views-row-even,
.view-Faculty .views-row-odd, .view-Faculty .views-row-even,
.view-staff .views-row-odd, .view-staff .views-row-even
{width:100%;float:left;padding:5px;border:1px solid #cccccc;margin-bottom:5px;}

#footer{border:none;color:#6c1c00;}

.sections {
	width: 100%;
	padding: 0;
}

.section {
	float: left;
}

.width99 {
	width: 100%;
}

.width49 {
	width: 47%;
	margin:0px 5px 0px 5px;
}

.width33 {
	/*changed Feb3-09 to space the sections properly */
	width: 30%;
	margin:0px 5px 0px 5px;
}

.width24 {
	width: 25%;
}

/* adjusted to fit in content for an attempt to get rid of panels */
.sections {
	width: 100%;
}

.sections .block {
  /* padding: 5px; */
}

#content-top .block {
  padding: 5px;
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

#section1 a, #section2 a{text-decoration: none;}
#section1 a:hover, #section2 a:hover{text-decoration: underline;}

#section1, #section2{background-image:none;background-color:transparent;color:#000000;}
#section1 a:link, #section2 a:visited, #section2 a.hover,
#section2 a:link, #section1 a:visited, #section1 a.hover
{color: #6c1c00;}

#section1 img, #section2 img{padding-bottom:5px;}

#section1 h2 a, #section2 h2 a{font-size:14px;font-weight:bold;}
#block-scrape_manager-0 img{margin-bottom:2px;}

/*Notice page styles
.view-notice .views-field-title{border-bottom:1px solid #e8e8e8;font-size:1.1em;font-weight:bold;}

.view-notice .views-row-odd,  .view-notice .views-row-even
{
	border-color:#e8e8e8;
	border-style:solid;
	border-width:1px 3px 3px 1px;;
	margin-bottom:5px;
	padding:5px;

}*/
.medianode {
font-style: italic;
font-size: 85%;
}

/* The next 2 styles are used to create a tab like section using divs. First used on athletics for Summercamps - S.A. March 2009*/

#tabcontainer{margin:0px padding:0px;border-bottom:1px solid #e8e8e8;}
.inlinemenu{position:relative;top:0px;display:inline;padding:1px 10px 1px 10px;background-color:#e8e8e8;margin:3px;
  border-top:1px solid #e8e8e8;
  border-left:1px solid #e8e8e8;
  border-right:1px solid #e8e8e8;
  }
.inlinemenua{position:relative;top:0px;display:inline;padding:1px 10px 1px 10px;background-color:#ffffff;margin:3px;
  border-top:1px solid #e8e8e8;
  border-left:1px solid #e8e8e8;
  border-right:1px solid #e8e8e8;
}

