/* $Id: flexible.css,v 1.1 2008/07/23 21:14:28 merlinofchaos Exp $ */

.panel-flexible { 
/*  overflow: hidden;  */
}

.panel-flexible {
  width: 99.9%;
}

.panel-flexible .panel-col { 
  float: left; 
  padding: 0;
  margin: 1px 0 .5em 0;
}

.panel-flexible .panel-row {
  padding: 0;
  margin: 0;
  padding-bottom: .5em;
  width: 99.9%;
}

.panel-flexible .panel-col-first .inside { 
  padding-right: .5em;
}

.panel-flexible .panel-col-inside .inside { 
  padding-right: .5em;
  padding-left: .5em;
}

.panel-flexible .panel-col-last .inside { 
  padding-left: .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-flexible .panel-separator {
  margin: 0 0 1em 0;
}

/* sidebar css */
div.panel-flexible div.panel-flexible-sidebars div.panel-sidebar { 
  float: left; 
  position: relative; 
}

* html div.panel-sidebar-left div.inside {
  background-color: transparent;
}

div.panel-flexible div.panel-flexible-sidebars div.panel-sidebar-middle { 
  width: 100%; 
}
