/* fontface */
@font-face {
  font-family: "Minion Pro";
  src: url("/css/fonts/MinionPro-Medium.otf");
}

body {
  padding: 0;
  width: 1000px;
  margin: 0 auto 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1 { font-size: 1.8em; }
h2 { font-family: "Minion Pro", "Times New Roman", Times, serif; font-size: 1.5em; }
h3 { font-size: 1.5em; font-weight: bold; }

li{ list-style-type: square; padding: 0.2em 0.5em 0 0; margin: 0; }

a { color: #7a2424; }

/* Shawn and Dave changed from padding: 0.5 0 0.5 0 --> padding: 0 0.5 0 0.5 */
/* vertical-align: middle --> vertical-align: top */
/* This moves the 'inside banner menu' to the top right corner of the banner */

#footer-message img{padding:0px; margin:0px;}
.view img {margin-left:0px;}

.content a {
  text-decoration: underline;
}

/* adjusted to fit in content for an attempt to get rid of panels */
.sections {
	width: 100%;
}

.sections .block {
  padding: 5px;
}

#content-top .block {
  padding: 0px;
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

#inner-content {
padding: 0px;
}



