#primary-navigation {
  text-align: right;
  width:1000px;
  margin: 0 0 6px 0;
  font-size: 1.1em;
  font-weight: bold;
}

#primary-navigation li {
  display: inline;
  list-style-type: none; padding: 0 5px;
  margin: 0;
}
