#sidebar-inner-left {
    float: left;
    width: 200px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 6px 6px 6px 0;
    padding: 6px;
    font-size: 12px;
    line-height: 19px;
}

#sidebar-inner-right {
  float: right;
  width: 200px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 6px 0 6px 6px;
  padding: 6px;
  font-size: 12px;
  line-height: 19px;
}

