
/* Styles added to make the grouped section on the reseracher,faculty,staff etc pages float right*/
.group-faculty-member-informati, .group-player-information,
.group-staff-member-informati,  .group-staff-information 
{
  float: right;
  position: relative;
  padding-top: 13px;
  padding-right: 3px;
  padding-bottom: 8px;
  padding-left: 18px;
  border-width: 1px;
  border-style: solid;
  width: 210px;
  padding-left: 1em;
  margin-left:20px;
  margin-bottom:20px;
}

.view-faculty .views-field-title, .view-Faculty .views-field-title, .view-staff .views-field-title
{padding:3px;font-size:16px;border:1px solid #aaa;font-weight:bold;text-decoration:underline;}

.view-faculty .views-field-teaser, .view-Faculty .views-field-teaser, .view-staff .views-field-teaser
{width:400px;}

.view-faculty img, .view-Faculty img, .view-staff img
{float:right;padding-top:5px;}

.view-faculty .views-row-odd, .view-faculty .views-row-even,
.view-Faculty .views-row-odd, .view-Faculty .views-row-even,
.view-staff .views-row-odd, .view-staff .views-row-even
{width:100%;float:left;padding:5px;border:1px solid #cccccc;margin-bottom:5px;}

.sections {
	width: 100%;
	padding: 0;
}

.section {
	float: left;
}