/*Add the styles for the faq page and block!!! April 28, 2009 S.A.*/
#block-views-faqs-block_1 .view-faqs .views-row-odd, #block-views-faqs-block_1 .view-faqs .views-row-even {
  padding: 5px 5px 0px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-image: url(/css/images/backgrade.jpg);
  background-repeat: repeat-x;
  margin-bottom: 20px;
  padding: 5px;
  height: 300px;
}
.block .view-faqs .views-row-odd, .block .view-faqs .views-row-even { display: none; overflow: hidden; }
.block .view-faqs ol { padding: 0; }
.block .view-faqs li { margin: 0; }
.block .view-faqs .views-row-first { display: block; }
.view-faqs .views-field-title{font-size:1.2em;font-weight:bold;}
.view-faqs .views-field-body{margin-left:20px;}
.block-views .view-faqs .views-field-title{font-size:1.0em;font-weight:bold;}
.view-faqs-anchor .views-field-title{margin-bottom:2px;font-size:0.9em;}
.view-faqs .view-footer{position:relative;top:-10px;}

/* view faqs page */
.view-faqs-anchor li { font-size: 1.4em; font-family: Minion Pro, Gentium, Georgia, Times New Roman, serif ; margin-top: 1em; }

.view-faqs-anchor a { text-decoration: none !important; color: rgb(108, 28, 0) !important;}
.view-faqs-anchor a:hover { text-decoration: underline !important; }

#real-content .view-faqs .views-field-title { font-size: 1.4em; font-family: Minion Pro, Gentium, Georgia, "Times New Roman", serif ; margin-top: 2em; }

#real-content .view-faqs .views-field-body { font-size: 1.2em; font-family: Helvetica, Arial, sans-serif; line-height: 1.8em; }
