/* fields in left column */
.node .right { float: right; width: 200px; }
/** h1 for page-page */
.node fieldset { border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 1em; }
.node legend { font-weight: bold; }
.node .field .label { display: block; font-weight: bold; }
.node .field .value { display: block; }
.node .links ul, .node .links li { margin: 0; padding: 0; display: block; }
/* content */
.node .content, #content .box { width: 60em; }
.narrow .node .content, .narrow #content .box { width: 45em; }
.node .date {
  color: #666; background-color: #eee; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
  padding: 0.2em 0 0.2em 1em; margin: 1em 0; font-style: italic; 
}
.node .content p, .view-media .views-field-body p { margin-bottom: 1.5em; word-wrap: break-word; }

/* fix for panels */
.panel-display .content, .panel-display .box { width: auto; }
.node-front img { margin: 0 12px 12px 12px; }
