.node-person .right { width: 375px; }
.node-person .right .field { width: 180px; }
.node-person .right img { margin: 0 12px !important; }
.node-person fieldset.contact-infomation {
  background: #fff url("../images/bkgrdl.gif") left bottom no-repeat;
  border: 0;
}
.page-staff .node-person .right, .page-faculty .node-person .right { margin-left: 12px; }
#real-content .view-staff .views-row-odd, #real-content .view-staff .views-row-even,
  #real-content .view-faculty .views-row-odd, #real-content .view-faculty .views-row-even { width: 375px; float: left; }
#real-content .view-staff .views-row-odd, #real-content .view-faculty .views-row-odd { clear: left; }

/* break 60em limit of .node .content */
.node .view-staff { width: 750px; }
