#banner2.width24 {
	margin-right: -1px;
}

#content5.width24 {
	margin-right: -1px;
}

#banner3.width24 {
	margin-right: -1px;
}

#content6.width24 {
	margin-right: -1px;
}

#content1.width49 {
	margin-right: -1px;
}

#content9.width49 {
	margin-right: -1px;
}
