/*
 * Sunshine Color Theme
 */

/* 000 base */
a { color: #7a2424; }
h1, h2, h3, h4, h5, h6 { color: #000; }

/* 003 suckerfish */
#suckerfishmenu { background-color: #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#suckerfishmenu a { color: #000; }
#suckerfishmenu a:hover { background-color: transparent; text-decoration: underline; }
#suckerfishmenu .content > ul.menu ul { border: 1px solid #333; }
#suckerfishmenu .content > ul.menu ul li { background-color: #fff; }
#suckerfishmenu .content > ul.menu ul { opacity: 0.9; }
#suckerfishmenu .content > ul.menu li:hover { background-color: #ddd; }
#suckerfishmenu .content > ul.menu li li.expanded {
  background: #fff url("../images/navbullet.png") 185px 0 no-repeat;
}
#suckerfishmenu .content > ul.menu ul li.expanded:hover { background-color: #ccc; background-position: 185px -30px; }
#suckerfishmenu .content > ul.menu > li {
  background-repeat: no-repeat;
}
#suckerfishmenu .content > ul.menu > li:hover {
  -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#suckerfishmenu .content > ul.menu > li.expanded {
  background-image: url("../images/navbullet.png");
  background-position: right -3px;
  padding-right: 7px;
}
#suckerfishmenu .content > ul.menu > li.expanded:hover {
  background-image: url("../images/navbullet.png");
  background-position: right -33px;
}

/* 010 primary navigation */
#primary-navigation a { color: #6b6f2a; }
/* 300 bottom links */
#links-section { border-color: #ccc; }
.bottom-links a { color: #888; }
.bottom-links a:hover { color: #000; }
.bottom-links h2 { color: #6b6f2a; }

/* 310 footer */

#footer {
  background: #fff url("../images/swoosh-footer.png") no-repeat center 50px;
}

/* 903 home page selector */
#main-selector a { color: #666; }

li.front-image-selector:hover {
  background: #fff url(../images/frontback.gif) repeat-x center top;
  border-right: #f7f7f7;
}

/* 906 front page news tabs */
.front-page-news-tabs .tab-list li.selected a { background-color: #666; color: #fff; }

/* views table */
.views-table .odd { background-color: #eee; }
.views-table .even { background-color: #fff; }
