/*
 * Sunshine Color Theme
 */

/* 000 base */
a { color: #7a2424; }
h1, h2, h3, h4, h5, h6 { color: #000; }

/* 010 primary navigation */
#primary-navigation a { color: #6b6f2a; }
/* 300 bottom links */
.bottom-links a { color: #888; }
.bottom-links a:hover { color: #000; }
.bottom-links h2 { color: #6b6f2a; }
