body {
  color: #000;
  background-color: #8596AA;
}

#page {
   background-color: #fff;
}


#section1 {
   background: #F5F5E9;
}

#section2 {
   background: #336299 url(../images/market/BottomBG.png) 0 0 repeat-x;
   color: #fff;
}

#navlist a.active,
#subnavlist a.active {
  color: #CDCD8F;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #336299;
}

.node img { margin: 6px; }

#section2 .title,
#section2 .title a {
   color: #666;
}

#section2 a:link,
#section2 a:visited,
#section2 a.hover {
   color: #EEC193;
}

#header {
  background: #336299 url(../images/market/MastBG.png) 0 0 repeat-x;
}

#sidebar-left, #sidebar-right { z-index: 1000 !important; position: fixed; background-color: #EEF4F9; top: 120px; max-width: 250px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; background-color: #fff; overflow: hidden; font-size: 11px; line-height: 18px; }
#sidebar-left { left: 0; border-right: 1px solid #ccc; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px; }
#sidebar-right { position: absolute; right: 0; border-left: 1px solid #ccc; -webkit-border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-bottomleft: 4px; }
#sidebar-left .hidden, #sidebar-right .hidden { display: none; }
#sidebar-left li, #sidebar-right li { list-style: disc inside; }

#mission,
div.admin-panel h3 {
  background-color: #336299;
}

h1.title
{
  font-size: 24px;
  background-color: #6c1c00;
  margin-left: 0px;
  padding-left: 15px;
  color:#ffffff;
}


#sidebar-left h2.title, #sidebar-right h2.title {
	background: #ffffff url(../images/market/menu_cap.png) 0 0 no-repeat;
	background-position: top right;
	padding-left:10px;
	font-size:13px;
	font-family:helvetica;
	font-weight:bold;
	color:#000000;padding:2px;
	border-color:#6C1C00;
	border-style:solid;
	border-width:1px;
	}
	

/* sunshine specific link sections */

#links-section { font-size: 11px; line-height: 18px; font-family: "Lucida Grande", "Lucida Unicode Sans", Arial, sans-serif; margin-top: 10px; padding: 10px; border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #fefefe; font-variant: normal; font-weight: normal; }
#links-section h2 { font-size: 11px !important; line-height: 18px; margin-top: 4px; margin-bottom: 0; font-weight: bold; }
#links-section ul { margin: 0; padding: 0; }
#links-section li { list-style: none; padding: 0; margin: 0; }
#links-section a { text-decoration: none; color: #888; }
#links-section a:hover { color: #000; }
.links1-width16 { width: 160px; }
.links2-width16 { width: 160px; }
.links3-width16 { width: 160px; }
.links4-width16 { width: 160px; }
.links5-width16 { width: 160px; }
.links6-width16 { width: 160px; }

/* sunshine sections for second.tpl.php */
#section1 .section { overflow: hidden; padding-bottom: 10px; }
.user1n-width49 { width: 440px; margin: 0; border-right: 0px solid #e0e0e0; padding-right: 20px; }
.user2n-width49 { width: 520px; margin: 0; padding-left: 15px;}
/*#section2 { border-top: 1px solid #e0e0e0;}*/
#section2 .section { overflow: hidden; padding-top: 20px; }
.user4n-width33 { width: 450px; margin: 0; padding-right: 20px; border-right: 0px solid #e0e0e0; }
.user5n-width33 { width: 240px; margin: 0; padding: 0 20px 0 10px; }
.user6n-width33 { width: 240px; margin: 0; padding: 0 0 0 15px; }
.home-page-story-ajax hr { display: none; }
.home-page-story-ajax h2 { font-weight: normal; padding: 0; margin: 0; line-height: 17px; margin-top: -1px;}
.home-page-story-ajax a { font-weight: normal !important; font-size: 13px !important; padding: 0 !important; margin: 0 !important; line-height:17px; }

/* block fine tuning for sunshine on currenstudents */
#internal-news {
margin-top: 200px;
}

#block-views-buttons-block_2{margin-bottom:10px;}


/* sunshine specific story topics */
.front-page-story-tabs {
  width: 432px;
  height: 280px;
  overflow: hidden;
  padding-right: 5px;
}
.front-page-story-tabs ul.topic-list {
  float: left;
  padding: 0;
  margin: 0;
}
.front-page-story-tabs li.topic-list {
  width: 156px;
  list-style: none;
  list-style-image: none;
  display: block;
  padding: 6px;
  margin: 0;
  border: 1px solid #fff;
  cursor: pointer;
  cursor: hand;
}
.front-page-story-tabs li.topic-list:hover {
  background-color: #e8e8e8;
  border: 1px solid #808080;
}
.front-page-story-tabs li.topic-list .v-id {
  display: none;
}
.front-page-story-tabs li.topic-list img {
  float: left;
  border: 1px solid #808080;
  margin: 0;
  padding: 0 !important;
}
.front-page-story-tabs .one-word-title {
  text-decoration: none;
  float: right;
  display: block;
  font-size: 10px;
  font-weight: bold;
  color: #611c00;
  line-height: 13px;
  width: 100px;
}
.front-page-story-tabs .four-word-summary {
  text-decoration: none;
  float: right;
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  color: #808080;
  width: 100px;
}
.front-page-story-tabs .topic-detail {
  float: right;
  width: 262px;
  display: none;
}
#front-page-topic-detail-row-1 {
  display: block;
}
.front-page-story-tabs .first-topic {
/*  height: 228px;
  overflow: hidden;
*/}
.front-page-story-tabs .first-topic img {
  border: 0; margin: 0; display: block;
}
.front-page-story-tabs .one-line-title {
  padding-top: 6px;
}
.front-page-story-tabs .one-line-title a {
  color: #611c00;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}
.front-page-story-tabs .one-line-title a:hover {
  text-decoration: underline;
}
.front-page-story-tabs .one-line-summary {
  font-size: 12px;
}
.front-page-story-tabs .push {
}
.front-page-story-tabs .title-list {
  list-style: disc inside;
  padding-left: 6px;
  border-top: 1px solid #f0f0f0;
  background-color: #fcfcfc;
  height: 51px;
  overflow: hidden;
  display: none;
}
.front-page-story-tabs .title-list li {
  list-style: disc inside;
  font-size: 11px;
  padding: 0;
}
.front-page-story-tabs .title-list a {
  text-decoration: none;
}
.front-page-story-tabs .title-list a:hover {
  text-decoration: underline;
}

/* sunshine specific news tabs */
.front-page-news-tabs {
  font-family: "Lucida Grande", "Lucida Unicode Sans", Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 10px; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#block-block-10 .front-page-news-tabs{width:493px;margin-left:4px;}

.front-page-news-tabs .tab-list {
  display: block;
  padding: 0 1em;
  margin: 0;
  border-bottom: 1px solid #808080;
}
.front-page-news-tabs .tab-list li {
  list-style: none;
  list-style-image: none;
  display: inline;
  position: relative;
  padding: 0;
  margin: 0;
}
.front-page-news-tabs .tab-list li a {
  display: inline;
  line-height: 15px;
  padding: 3px 5px 3px 5px;
}
.front-page-news-tabs .tab-list li.selected a {
  background-color: #808080;
  color: #fff !important;
}
.front-page-news-tabs .tabs-detail {
  margin: 5px;
  display: none;
  overflow: hidden;
}
.front-page-news-tabs .tabs-detail .more {
  margin: 10px;
  padding: 5px;
  float:right;
  border-left: 1px solid #6c1c00;
  border-bottom: 1px solid #6c1c00;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.front-page-news-tabs .tabs-detail .more a {
  font-weight: bold;
}
.front-page-news-tabs div.selected {
  display: block;
}
.front-page-news-tabs .tabs-detail ul {
  list-style: disc inside;
}
.front-page-news-tabs .tabs-detail li {
  list-style: disc inside;
}
#footer img{margin-bottom:10px; padding:0px;}

/*News page media sources formatting*/
.imagecache-media_release_image_default {
  float: right;
  padding: 15px;
}

.field-field-pull-quote {
font-style: italic;
font-size: 145%;
width: 350px;
padding: 15px;
float: left;
margin: 10px;
margin-top: 20px;
}

.field-field-pull-quote {

